.message-container {
      max-height: 400px;
      /* Set the maximum height for the messages container */
      overflow-y: auto;
      /* Enable vertical scrolling */
    }
    #groups{
      max-height: 200px;
      overflow-y: auto;
    }
    #users{
      max-height: 200px;
      overflow-y: auto;
    }
    .logout-button-container {
      position: absolute;
      top: 10px;
      right: 10px;
    }